<article class="nextmeeting">
  <h1>What I'm Up to</h1>
  <p>
  <img src="<%= appdata.meeting.where.img %>" alt="Meeting Location"> Saturdays

  <%= appdata.meeting.date %>, <%= appdata.meeting.time %>, <%= appdata.meeting.where.name %>, <%= appdata.meeting.where.address %>
  </p>
  <p><% include socialmedia.ejs %></p>
</article>
